{{!-- 
    Citation for page:
    Date: 05/18/2024
    Adapted from:
    Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/blob/main/Step%205%20-%20Adding%20New%20Data/views/index.hbs
    --}}
    
    
    <!-- views/index.hbs -->
    
    <div class="home-body">
        <h1>Welcome to my website portfolio!</h1>
        
        <h2>About myself</h2>
        <p>
            Enter text here about myself later
        </p>

        <h2>Navigate to my projects</h2>
        <p>
            <ul>
                <li>
                    An eCommerce website I built for a small business
                    <a href=":{{ldblm_port}}">eCommerce Website</a>
                </li>
                <li>
                    A hiking app that I built with a classmate that <a href=":{{byte_hikers_port}}">Hiking Application</a></li>
                <li><a href=":{{ocean_port}}">Physical Oceanography Research Project</a></li>
            </ul>
        </p>

        <h2>Testimonials</h2>
        <p>
            Testimonials go here
        </p>
    
    </div>
    