<!-- views/index.hbs -->
    
    <div class="home-body">
        <h2>About Me</h2>
        <p>
            I hold a <strong>Bachelor of Science in Marine Science</strong> from Texas A&M University, 
            with a focus in physical oceanography. For my undergraduate research project, I studied 
            turbulence in water columns, utilizing data collected from sensors I helped deploy in the 
            ocean in an effort to define turbulence. This research involved using MATLAB for data 
            analysis and oceanographic modeling. I also published and presented my findings, which 
            helped me refine my ability to communicate complex scientific concepts to both academic 
            and general audiences. 
            <br><br>
            I went on to get a <strong>Master of Science in Medical Science</strong> with a focus in 
            biochemistry and research, opening the door to a job in a quality control lab for Marathon 
            Petroleum. While there were great opportunities to grow and learn at this company, they were 
            simply not aligned with my goals. I decided to reassess my career options, and I thought back 
            to my days as an undergraduate, sitting behind a computer for hours at a time, and thoroughly 
            enjoying solving problems from my keyboard. Therefore, I decided to pursue a <strong>Bachelor 
            of Science in Computer Science</strong>, in order to marry my passion for computer science 
            with the skills I had already earned in science.
            <br><br>
            In my previous roles, I developed a strong proficiency in <strong>Python</strong>, <strong>
            MATLAB</strong>, and <strong>SQL</strong>, as well as working from <strong>BASH terminals
            </strong>. Lately, I have been working on developing my skills as a <strong>full stack 
            web developer</strong>, hence my showcasing it here on this website, which displays projects 
            I have developed, both alone and as a team.
            <br><br>
            My goal is to work with a team that mirrors my goals, where I can utilize my strengths and 
            still grow, as I am passionate about learning and self-growth.
        </p>

        <h2>Projects</h2>
        
        <div id="index-projects">
            <figure>
                <a href="/projects?port={{ldblm_port}}&project=ldblm">
                    <img src="/img/ldblm_screenshot.png" alt="Screenshot of ldblm website">
                </a>
                <figcaption>An eCommerce website small business</figcaption>
            </figure>

            <figure>
                <a href="/projects?port={{byte_hikers_port}}&project=byte_hikers">
                    <img src="/img/byte_hikers_screenshot.png" alt="Screenshot of Byte Hikers application">
                </a>
                <figcaption>A hiking app that was built with a classmate that tracks outdoor activities for users</figcaption>
            </figure>

            <figure>
                <a href="/projects?port={{ocean_port}}&project=ocean">
                    <img src="/img/oceanography_poster.jpg" alt="Burkely Pettijohn in front of his scientific poster">
                </a>
                <figcaption>Oceanographic research project that attempts to describe turbulence intensity using a novel approach</figcaption>
            </figure>
        </div>

        <h2>Resume</h2>
        <p>
            <button><a href="/resume">Click here</a></button> to view my resume.
        </p>
    
    </div>
