<h2>Projects</h2>
<div id="project_list">
    <ul>
        <li id="ldblm">
            <button onclick="show_project('ldblm')">Little Dreamer Big Leader Mobiles</button>
            An eCommerce website I built for a small business.
        </li>
        <li id="byte_hikers">
            <button onclick="show_project('byte_hikers')">Byte Hikers</button>
            A hiking app that I built with a classmate that tracks outdoor activities for users.
        </li>
        <li id="ocean">
            <button onclick="show_project('ocean')">Undergraduate Research Project</button>
            Oceanographic research project that attempts to describe turbulence intensity with a novel approach.
        </li>
    </ul>
</div>

<p id="about-project"></p>
<div class="iframes">
    <iframe id="project" frameBorder="0"></iframe>
</div>

<script src="/js/show-project.js"></script>
