
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="noindex,noarchive, nofollow" />
        <title>{{title}}</title>
        <link rel='stylesheet' type='text/css' media='screen' href='/css/styles.css'>
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">
        <link rel="manifest" href="/favicon_io/site.webmanifest">
    </head>
    <div class="grid-layout">
        <body>
            <header>
                <h1>Burkely Pettijohn</h1>
                <h3>Software Engineer</h3>
            </header>

            <nav>
                <ul>
                    {{#each headers}}
                    <li><a href="{{this.link}}" class="nav-link">{{this.name}}</a></li>
                    {{/each}}
                </ul>
            </nav>

            <div id="contact">
                <a href="https://www.linkedin.com/in/burkelyp" target='_blank' rel='noopener noreferrer'>
                    <div class="contact_logo">
                        <img src="/img/linkedin_logo.png" alt="LinkedIn logo and link">
                        <span>LinkedIn</span>
                    </div>
                </a>        
                <a href="https://github.com/burkelyp/" target='_blank' rel='noopener noreferrer'>
                    <div class="contact_logo">
                        <img src="/img/github_logo.png" alt="GitHub logo and link">
                        <span>GitHub</span>
                    </div>
                </a>
                <a href="mailto:burkelypettijohn@gmail.com" target='_blank' rel='noopener noreferrer'>
                    <div class="contact_logo">
                        <img src="/img/email_logo.png" alt="eMail logo and link">
                        <span>eMail</span>
                    </div>
                </a>
                <a href="/pdf/resume.pdf" target='_blank' rel='noopener noreferrer'>
                    <div class="contact_logo">
                        <img src="/img/resume_logo.png" alt="Resume logo and link">
                        <span>Resume</span>
                    </div>
                </a>
            </div>

            <main>
                {{{body}}}
            </main>
        </body>
        <footer>
            <p>&copy; 2025 Burkely Pettijohn</p>
        </footer>
    </div>
</html>